*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { background-color: #170a1c; 
    padding-bottom: 150px;
}
footer{
    background-image: linear-gradient(to bottom,#101d42, #33738a);
    width: 100%;
    
}
.footerContainer{
    width: 100%;
}
.profilePicture{
    size: 100px;
    text-align: center;
    padding-top: 20px;
}
 img {
    border-radius: 50%;
    border-color: lavender;
    border-width: 5px;
    border-style: double;
}
.bigName { 
    padding-top: 50px;
    text-decoration: underline overline lavender;/////
}
.gif{
    text-align: center;
    padding: 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;
    padding: 30px 30px 20px;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    color: #101d42;
    opacity: 0.9;
}
.socialIcons a:hover{
    color: lavender;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    white-space: nowrap;
    padding-bottom: 30px;

}
.footerNav ul li a{
   color: white;
   margin: 20px;
   text-decoration: none;
   font-size: 1.3em;
   transition: 0.5s;
   font-family: ce;
   
}
.footerNav ul li a:hover{
    color: #101d42;
}
p{
    color: lavender;
    padding:  30px 20px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: lavender;
    padding-top: 10px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color: lavender;
    padding: 20px;
    margin: 0%;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.videoYouTube, iframe {
    text-align: center;
    aspect-ratio: 16 / 9;
    width: 100%;
    padding: 3%;
}
@media (max-width:650px){
.footerNav ul{
    flex-direction: column;
    padding-bottom: 30px;
}
.footerNav ul li {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
}   
