body { background-color: #FF752C; 
padding-bottom: 150px;}
p {
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5;
    color: white;
    width: 300px;
    margin: auto;
    border: solid black;
    word-wrap: break-word;
    border-style: double;
    background-color: rgb(53, 52, 52);
    padding: 20px;}
h1 {
    text-align: center;}
ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;}
h2{
    text-align: center;}
div{ 
    text-align: center;}
a:link {
    color: rgb(255, 255, 255); }
a:visited {
    color: rgb(255, 255, 255);}
a:hover {
        color: rgb(0, 0, 0);}
